*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
	font-family: "Montserrat", sans-serif;
}


/* style header */

.glavheader {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 16%;
    /* space items */
    gap: 17px;
    width: 100%;
    background-color: #fff;
}

.glavheader .glavheader--container {
    display: flex;
    align-items: center;
    justify-content: center;
    right: auto;
    /* space items */
    gap: 8px;
}

.glavheader .glavheader--container .text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    color: #000000;
}

.glavheader .glavheader--container .icon {
    display: grid;
    align-items: center;
}


/* style navigation */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 4%;
    background-color: #131313;
    height: 17vh;
    margin-top: 1vh;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}


/* position of header elements */

.header .header--container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    direction: initial;
    width: 100%;
    padding: 0 5%;
}

.header .header--container .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .header--container nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header .header--container nav a {
    text-decoration: none;
    color: #fff;
}

.header .header--container .header--container--icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header .header--container .header--container--icons .icon {
    cursor: pointer;
}

main {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-inline: 10px 10px;
}

.content--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    width: 85%;
    margin-top: 5%;
	margin-left:-3%;
}

.namepage {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px !important;
    line-height: 22px;
    color: #ffff;
	
}

.roadpage {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    white-space: nowrap;

}


/* Медиа-запрос для мобильных устройств */

@media (max-width: 767px) {
    .content--container {
        flex-direction: column;
        gap: 5%;
        margin-top: 2%;
    }
    .namepage {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
    .roadpage {
        font-size: 12px;
        line-height: 16px;
        text-align: center;
    }
	
}


/* Медиа-запрос для планшетов и настольных компьютеров */

@media (min-width: 768px) {
    .content--container {
        /* gap: 50%; */
        margin-top: 3%;
    }
    .namepage {
        font-size: 20px;
        line-height: 24px;
    }
    .roadpage {
        font-size: 14px;
        line-height: 18px;
    }
}

.cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
    gap: 50px;
	margin-left:-2%;
}

.card--sliders--buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 1500%;
    /* изменено значение gap */
}


/* .servic1 img,
.servic2 img {
    max-width: 100%;
    height: auto;
} */

.name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 141%;
    text-align: center;
    color: #FFFFFF;
}

body {
    overflow-x: hidden;
    background-color: #1A1A1A;
}

.zag1 {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FD36D1;
    text-shadow: 0px 0px 1.6px #FD36D1;
    align-self: self-start;
    margin-left: 10.5%;
    margin-top: 5%;
}

.content--container--buy {
    display: flex;
    flex-wrap: wrap;
    width: 79%;
}

.content-fon {
    background-color: white;
    width: 200% !important;
    height: 240px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 55% 40%;
    margin-top: 2%;
    padding: 10px 10px;
}

.fon--leftSide {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.con {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fon--conainer {
    display: flex;
    width: 100%;
    gap: 5%;
}

.container--type {
    display: flex;
    align-items: start;
    justify-content: start;
    text-wrap: wrap;
    text-align: start;
	gap: 5px;
}

.price {
    align-self: start;
}

.fon--rightSide {
    display: flex;
    align-items: end;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}

.fon--rightSide h1 {}

.content--uslugi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    gap: 20px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .content-fon {
        display: block;
        height: auto;
    }
    .name {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* Добавляем выравнивание по центру */
    }
    .fon--leftSide {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        height: auto;
    }
    .fon--conainer {
        display: block;
    }
    .con {
        display: block;
    }
    .price {
        align-self: center;
        /* Центрируем по горизонтали */
    }
    .fon--rightSide {
        display: block;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 2%;
    }
	.butsub{
		margin-left:0%;
	}
}

@media only screen and (min-width: 769px) {
    .name {
        display: flex;
        justify-content: center;
        align-items: center;
        /* Добавляем выравнивание по центру */
    }
    .price {
        align-self: flex-start;
        /* Возвращаем выравнивание слева */
    }
    .fon--rightSide {
        display: flex;
        align-items: end;
        justify-content: start;
        flex-direction: column;
        gap: 20px;
    }
}


/* Стили для устройств с шириной экрана до 768px (например, мобильные устройства) */

@media only screen and (max-width: 768px) {
    .content--container {
        flex-direction: row;
        /* Переключаем направление flex на вертикальное */
        padding: 0 5%;
        /* Уменьшаем отступы по бокам */
    }
    .cart-masters {
        width: 100%;
        /* Занимаем всю ширину экрана */
    }
    .cartMasters--container {
        width: 100%;
        /* Занимаем всю ширину экрана */
    }
    .butsub {
        width: 100%;
        /* Занимаем всю ширину экрана */
    }
    .cards {
        flex-direction: row;
        /* Переключаем направление flex на вертикальное */
        gap: 20px;
        /* Увеличиваем промежуток между элементами */
    }
    .card--sliders--buttons {
        display: none;
        position: absolute;
        /* Отменяем абсолютное позиционирование */
        gap: 300%;
        /* Увеличиваем промежуток между элементами */
    }
}


/* Стили для устройств с шириной экрана от 769px и выше */

@media only screen and (min-width: 769px) {
    .content--container {
        padding: 0 8%;
        /* Возвращаем обычные отступы по бокам */
    }
    .cart-masters {
        width: 85%;
        /* Возвращаем обычную ширину */
    }
    .cartMasters--container {
        width: 80%;
        /* Возвращаем обычную ширину */
    }
    .butsub {
        width: 40%;
        /* Возвращаем обычную ширину */
    }
    .cards {
        flex-direction: row;
        /* Возвращаем направление flex на горизонтальное */
        /* Возвращаем обычный промежуток между элементами */
    }
    .card--sliders--buttons {
        position: absolute;
        /* Возвращаем абсолютное позиционирование */
        /* Возвращаем обычный промежуток между элементами */
    }
}

.naming {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 300px;
    width: 100%;
}

.namecombo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 141%;
    color: black;
}

.sctext1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 141%;
    color: #000000;
}

.sctext2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 141%;
    color: #000000;
}

.sctext3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 141%;
    color: #000000;
}

.sctext4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 141%;
    color: #000000;
}

.price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 141%;
    color: #000000;
}

.butsub {
    display: grid;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 141%;
    text-align: center;
    color: #FFFFFF;
    background: #FD36D1;
    box-shadow: 0px 0px 17.4px #FD36D1;
    height: 3.0em;
    width: 15em;
    text-decoration: none !important;
}

.zag2 {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FD36D1;
    text-shadow: 0px 0px 1.6px #FD36D1;
}

.serviseal {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 141%;
    color: #FFFFFF;
}

.line {
    width: 100%;
    /* Задайте нужную ширину линии */
    height: 1px;
    /* Задайте нужную высоту линии */
    background-color: white;
}

.zag3 {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FD36D1;
    text-shadow: 0px 0px 1.6px #FD36D1;
}

.serviseall2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 141%;
    color: #FFFFFF;
}

.line2 {
    width: 100%;
    /* Задайте нужную ширину линии */
    height: 1px;
    /* Задайте нужную высоту линии */
    background-color: white;
}

.zag4 {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FD36D1;
    text-shadow: 0px 0px 1.6px #FD36D1;
}

.serviseall3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 141%;
    color: #FFFFFF;
}

.line3 {
    width: 100%;
    /* Задайте нужную ширину линии */
    height: 1px;
    /* Задайте нужную высоту линии */
    background-color: white;
}


/* Адаптивность для мобильных устройств */

@media (max-width: 767px) {
    .naming {
        gap: 10px;
    }
    .content--uslugi {
        margin-top: 10%;
    }
    .serviseall2 {
        font-size: 14px;
    }
}


/* Адаптивность для планшетов */

@media (min-width: 768px) and (max-width: 1023px) {
    .content--uslugi {
        margin-top: 7%;
    }
    .serviseall2 {
        font-size: 15px;
    }
}


/* Адаптивность для больших экранов */

@media (min-width: 1024px) {
    .content--uslugi {
        margin-top: 5%;
    }
    .serviseall2 {
        font-size: 16px;
    }
}


/* Адаптивность для ценовых блоков */

@media (max-width: 767px) {
    .naming {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .nameservice,
    .priceservice {
        margin-bottom: 5px;
    }
}


/* Дополнительная адаптивность для ценовых блоков на планшетах */

@media (min-width: 768px) and (max-width: 1023px) {
    .nameservice,
    .priceservice {
        text-align: center;
    }
}

.underscrollphoto {
    display: grid;
    align-items: center;
    margin-top: 5%;
    background: url(../img/41.png);
    background-size: cover;
    -moz-background-size: cover;
    /* Firefox 3.6 */
    background-position: center;
    /* Internet Explorer 7/8 */
    padding: 61px 0 152px 0;
}

.underscrollphoto--container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ustext {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 141%;
    text-align: center;
    color: #ffff;
}

.butsub2 {
    background: #fd36d1;
    box-shadow: 0px 0px 17.4px #fd36d1;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 141%;
    text-align: center;
    color: #ffffff;
    margin-top: 5.5%;
    position: relative;
    text-decoration: none !important;
    text-align: center;
    height: 2.5em;
    width: 18em;
    line-height: 2.5em;
    margin-top: 96px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #131313;
    width: 100%;
    height: 477px;
    display: flex;
}

.footer--container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20%;
}

.footer--container .footer--container--logo--text--container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 89px;
}

.footer--container .footer--container--logo--text--container .footer--text--container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 94px;
}

.footer--container .footer--container--logo--text--container .footer--text--container .text--container--column {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.footer--container .footer--container--icons {
    display: flex;
    gap: 30px;
}

.footer--aside--text {
    display: flex;
    color: #fff;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-top: 133px;
}

.text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.we {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}

.by {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}

.underphoto {
    display: block;
    height: auto;
}

@media (max-width: 767px) {
    /* Глобальные стили */
    html,
    body {
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }
    /* Стили для шапки */
    .glavheader {
        flex-direction: column;
        justify-content: center;
        margin-right: 0;
    }
    .header {
        height: auto;
        padding: 20px 0;
    }
    .header .header--container {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        gap: 20px;
    }
    .header .header--container nav {
        flex-direction: column;
    }
    .header .header--container .header--container--icons {
        width: 100%;
        justify-content: center;
        margin-right: auto;
    }
    /* Стили для первого раздела */
    .underheader {
        height: auto;
        padding: 50px 0;
    }
    .underheader .underheader--container {
        text-align: center;
    }
    .zag {
        font-size: 24px;
    }
    .utext {
        font-size: 18px;
    }
    .butsub {
        font-size: 18px;
        width: 100%;
        max-width: 300px;
    }
    /* Стили для второго раздела */
    .whyarewe {
        grid-template-columns: 1fr;
    }
    .whyarewe .whyarewe--container {
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }
    /* Стили для четвертого раздела */
    .runningline {
        height: 60px;
        margin-top: 3%;
        overflow: hidden;
    }
    .promo-text {
        font-size: 12px;
        padding: 10px;
        animation: runningline 20s linear infinite;
        white-space: nowrap;
    }
    /* Стили для пятого раздела */
    .underscrollphoto {
        padding: 30px 0;
    }
    .ustext {
        font-size: 18px;
    }
    .butsub2 {
        font-size: 18px;
        width: 100%;
        max-width: 300px;
        margin-top: 30px;
    }
    #map {
        height: 200px;
    }
    /* Стили для подвала */
    .footer {
        height: auto;
        padding: 30px 0;
    }
    .footer--container {
        flex-direction: column;
        gap: 30px;
    }
    .footer--container .footer--container--logo--text--container {
        gap: 30px;
    }
    .footer--container .footer--container--logo--text--container .footer--text--container {
        gap: 30px;
    }
    .footer--container .footer--container--icons {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer--aside--text {
        margin-top: 30px;
    }
	.sphoto {
        flex-direction: column;
		
    }
}


/* Стили для планшетов */

@media (min-width: 768px) and (max-width: 991px) {
    /* Глобальные стили */
    html,
    body {
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }
    /* Стили для шапки */
    .header {
        height: auto;
        padding: 30px 0;
    }
    .header .header--container {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    /* Стили для первого раздела */
    .underheader {
        height: auto;
        padding: 80px 0;
    }
    .zag {
        font-size: 28px;
    }
    .utext {
        font-size: 20px;
    }
    .butsub {
        font-size: 20px;
        max-width: 400px;
    }
    /* Стили для второго раздела */
    .whyarewe {
        grid-template-columns: 1fr 1fr;
    }
    .whyarewe .whyarewe--container {
        flex-direction: row;
        text-align: left;
        margin-bottom: 40px;
    }
    /* Стили для четвертого раздела */
    .runningline {
        height: 80px;
        margin-top: 4%;
    }
    .promo-text {
        font-size: 16px;
        padding: 15px;
    }
    /* Стили для пятого раздела */
    .underscrollphoto {
        padding: 60px 0;
    }
    .ustext {
        font-size: 20px;
    }
    .butsub2 {
        font-size: 20px;
        max-width: 400px;
        margin-top: 40px;
    }
    #map {
        height: 400px;
    }
    /* Стили для подвала */
    .footer {
        height: auto;
        padding: 40px 0;
    }
    .footer--container {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer--container .footer--container--logo--text--container {
        gap: 40px;
    }
    .footer--container .footer--container--logo--text--container .footer--text--container {
        gap: 40px;
    }
    .footer--container .footer--container--icons {
        flex-wrap: nowrap;
    }
    .footer--aside--text {
        margin-top: 0;
    }
}

.butsub:hover {
    background: #ff6ee7; 
    box-shadow: 0px 0px 25px #ff6ee7; 
}

.butsub:active {
    color: #000000; 
}

.butsub{
	margin-top:5%;
}



a[href^="tel"] {
    color: black;
    text-decoration: none;
}
